<h2>Edit your profile</h2>

<%= form_for @user do |f| %>

<% if @user.errors.any? %>
    <h2>
      <%= pluralize(@user.errors.count, 'error') %>  your profile from being updated:
    </h2>
      <% @user.errors.full_messages.each do |message| %>
      <div class="alert alert-danger"><%= message %></div>
      <% end %>
  <% end %>

<div class="form-group">
  <%= f.label :name %><br>
  <%= f.text_field :name, class:'form-control' %><br>
</div>

<div class="form-group">
  <%= f.label :email %><br>
  <%= f.email_field :email, class:'form-control' %><br>
</div>

<div class="form-group">
  <%= f.label :password %><br>
  <%= f.password_field :password, class:'form-control' %><br>
</div>

<div class="form-group">
  <%= f.label :password_confirmation, 'Confirmation' %><br>
  <%= f.password_field :password_confirmation, class:'form-control' %><br>
</div>

<div class="gravatar_edit form-group">
     <%= gravatar_for @user %>
     <%= link_to 'change avatar', "http://gravatar.com/emails",  class:"btn btn-warning", target: '_blank' %>
</div>

<div class="form-group">
<%= f.submit 'Save Changes', class: 'btn btn-primary' %>
<%= link_to  'Cancel', root_path, class: 'btn btn-default' %>
</div>
<% end %>